# OPENROUTER_API_KEY: Required key to call the OpenRouter API for cinematic mood colors.
OPENROUTER_API_KEY=

# VITE_VAPID_KEY: Required for web push authentication with FCM.
VITE_VAPID_KEY="BKUkIXMTZWbSkMJJ4LjlLJvL9CD29LI8GKzeO8dHPBcgqsyMydQ9RMEPw2vKViTvASc3xKwIRSfDmLRpbk3vQlQ"

# VITE_FIREBASE_*: Optional credentials override for FCM client configuration
VITE_FIREBASE_API_KEY="AIzaSyA40UiX-MJqa85db5wPLz5DrrKZnCjLTTg"
VITE_FIREBASE_AUTH_DOMAIN="missmetoo-39082.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="missmetoo-39082"
VITE_FIREBASE_STORAGE_BUCKET="missmetoo-39082.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="495217081378"
VITE_FIREBASE_APP_ID="1:495217081378:web:4bb664bcae927ce6c41e7b"
